@model VLXD.Models.CHITIETHOADON

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CHITIETHOADON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiamGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiamGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOADON.MaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOADON.MaKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VATLIEU.TenVL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VATLIEU.TenVL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
